{% extends 'base.html.twig' %}

{% block title %}Add flight{% endblock %}

{% block body %}
    <h1>Add flight</h1>

    {{ form_start(addForm) }}
    {{ form_row(addForm.departureTime) }}
    {{ form_row(addForm.arrivalTime) }}
    {{ form_row(addForm.from) }}
    {{ form_row(addForm.to) }}
    {{ form_row(addForm.airplane, {
        label: 'Airplane'
    }) }}
    {{ form_row(addForm.price) }}

    <button type="submit" class="btn">Add</button>
    {{ form_end(addForm) }}
{% endblock %}
