{% extends 'base.html.twig' %}

{% block title %}Add options{% endblock %}

{% block body %}
<div class="conteiner">
    <h1>Add options</h1>
</div>
<div class="conteinerForm">
    <form action="{{ path('confirmation') }}" method="post" name="addOptionForm">
        {% for ticket in tickets %}
        <div>
            {{ ticket.seatNumber }} - {{ ticket.seatType }} - {{ ticket.price }}</br>
            <label for="baggage">Baggage:</label>
                <select id="baggage" name="baggage[{{ ticket.id }}]">
                    <option value='HAND BAGGAGE'>HAND BAGGAGE</option>
                    <option value='BAGGAGE'>BAGGAGE</option>
                    <option value='PETS + HAND BAGGAGE'>PETS + HAND BAGGAGE</option>
                    <option value='PETS + BAGGAGE'>PETS + BAGGAGE</option>
                </select>
            {# {% if options is empty %} 
                <label for="options">Options:</label>
                <select id="options" name="options[{{ ticket.id }}]">
                    <option value='no_options'>No options</option>
                </select>
            {% else %} 
            <label for="options">Options:</label>
                    <select id="options" name="options[{{ ticket.id }}]">
                        <option value='no_options'>No options</option>
                {% for option in options %} 
                    <option value={{ option.id }}>{{ option.name }}</option>
                {% endfor %}
                </select>
            {% endif %} #}
            {% if options %} 
                {% for option in options %} 
                    <input type="checkbox" name="options[{{ ticket.id }}][]" value={{ option.id }}>
                    <label for="options[{{ ticket.id }}]">{{ option.name }} - {{ option.price }}</label></br>
                {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        <button id="buttonChoose" class="btnChoose" type="submit">Continue</button>
    </form>
</div>
{% endblock %}
