{% extends 'base.html.twig' %}

{% block title %}Confirmation{% endblock %}

{% block body %}
<div class="generalInformation">
    Your ticket number is {{ ticket.ticketNumber }}</br>

    Options {{ option.name }}</br>

    Baggage - {{ baggage }}</br>

    General price {{ticket.price + option.price}}</br>
</div>
<div class="conteinerForm">
    <form action="{{ path('completition', {
        'ticket':ticket.id,
        'option':option.id,
        'baggage':baggage
    }) }}">
        <div class="form">
            <div class="formField">
                <label for="name">Name:</label><br>
                <input class="inputField" type="text" id="name" name="name" value={{ userName }}><br>
            </div>
            <div class="formField">
                <label for="email">Email:</label><br>
                <input class="inputField" type="text" id="email" name="email" value={{ email }}>
            </div>
            <div class="conteinerButton">
                <button class="btnForm" type="submit">Buy</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
