{% extends 'base.html.twig' %}

{% block title %}Flight{% endblock %}

{% block body %}
<div class="conteinerForm">
    <h1>Flight {{ flight.pointOfDeparture }} - {{ flight.arrivalPoint }}</h1>
</div>
    <div class="generalInformation">
        Departure - {{ flight.departureTimeString }}</br>
        Arrival - {{ flight.arrivalTimeString }}</br>
        Price - {{ tickets[0].price }}$
    </div>
<div class="generalInformation" style="margin-top: 30px;">
    You can choose seats
</div> 
    <ul>
        <div class="flexbox">
        {% for ticket in tickets %}
        <div>
            <li>{{ ticket.seatType }}  - <a href="/addOptions/{{ ticket.id }}">Buy</a></li>
        </div>
        {% endfor %}
        </div>
    </ul>


{% endblock %}
