{% extends 'base.html.twig' %}

{% block title %}Tickets{% endblock %}

{% block body %}
<div class="conteiner">
    <h1>Your tickets:</h1> </br>
</div>
<div class="list">
    {% for ticket in tickets %}
        <li>{{ ticket.flight.pointOfDeparture }} - {{ ticket.flight.arrivalPoint }} - {{ ticket.seatNumber }} - {{ ticket.baggage }}</li>
        {% if ticket.options %}
            {% for option in ticket.options %}
                {{ option.name }}
            {% endfor %} 
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
